<div class="banner">
  <img src="http://placehold.it/1000x200" alt="<%= t('.article') %>">
  <h1><%= t('.article') %></h1>
</div>

 <!-- // START - Articles // -->
<% @articles.each do |article| %>
  <div>
    <% if article.link.present? %>
      <% link_to article.link do %>
        <!-- // Here Article - needs Cloudinary tag// -->
        <img src="http://placehold.it/300x200" alt="<%= t('.article') %> <%= article.title %>">
        <!-- // -->
        <%= article.title %>
      <% end %>
    <% else %>
      <img src="http://placehold.it/300x200" alt="<%= t('.article') %> <%= article.title %>">
        <!-- // -->
      <%= article.title %>
    <% end %>
  </div>
<% end %>
