<div class="banner">
  <img src="http://placehold.it/1000x200" alt="<%= t('.article') %>">
  <h1><%= t('.article') %></h1>
</div>

 <!-- // START - Articles // -->
<% @articles.each do |article| %>
  <div>
    <% if article.link.present? %>
      <% link_to article.link do %>
        <!-- // Here Article - needs Cloudinary tag// -->
        <% if article.picture.attached? %>
          <%= cl_image_tag("#{picture(article)}", class:"") %>
        <% else %>
          <%= image_tag("#{picture(article)}", class:"") %>
        <% end %>
        <!-- // -->
        <%= article.title %>
      <% end %>
    <% else %>
      <% if article.picture.attached? %>
        <%= cl_image_tag("#{picture(article)}", class:"") %>
      <% else %>
        <%= image_tag("#{picture(article)}", class:"") %>
      <% end %>
        <!-- // -->
      <%= article.title %>
    <% end %>
  </div>
<% end %>
