<div>
  <h1><%= t('.repertories') %></h1>
</div>

 <!-- // START - Repertories Profane// -->
<h2><%= t('.repertory') %> <%= @repertories_profane.first.title %></h2>
  <% @repertories_profane.each do |repertory| %>
  <div>
    <%= repertory.role %>
  </div>
  <div>
    <%= repertory.show %>
  </div>
  <div>
    <%= repertory.composer %>
  </div>
<% end %>

 <!-- // START - Repertories Sacré// -->
<h2><%= t('.repertory') %> <%= @repertories_sacre.first.title %></h2>
  <% @repertories_sacre.each do |repertory| %>
  <div>
    <%= repertory.role %>
  </div>
  <div>
    <%= repertory.show %>
  </div>
  <div>
    <%= repertory.composer %>
  </div>
<% end %>
