<nav class="py-5 fixed w-full bg-white">
    <div class="relative">
        <h3 class="text-primary text-3xl font-bold text-center mb-4 mt-6">Germain Bardot</h3>
        <span class="absolute right-0 bottom-0 mr-6 mb-12 font-thin"><%= link_to 'fr', '/', class:'font-bold'%>/<%= link_to 'en', '/' %>/<%= link_to 'de', '/' %></span>
        <ul class="flex justify-between w-2/3 mx-auto">
            <li><%= link_to 'Acceuil', '/' %></li>
            <li><%= link_to 'Agenda', '/' %></li>
            <li><%= link_to 'À Propos', '/' %></li>
            <li><%= link_to 'Répertoire', '/' %></li>
            <li><%= link_to 'Galerie', '/' %></li>
            <li><%= link_to 'Presse', '/' %></li>
            <li><%= link_to 'Média', '/' %></li>
            <li><%= link_to 'Contact', '/' %></li>
        </ul>
    </div>
</nav>