<h1><%= t('.contact') %></h1>
<div>
  <%= t('.phones') %> +41 78 872 91 21 // +33 6 74 74 89 85

  <%= t('.email') %> germainbardot@gmail.com
  <%= t('.agency') %> <%= link_to "Humphries Management", "https://www.humphriesmanagement.com/"%>
</div>
