<div class="banner">
  <img src="http://placehold.it/1000x200" alt="<%= t('.medias') %>">
  <h1><%= t('.medias') %></h1>
</div>

 <!-- // START - Extracts // -->
 <% @extracts.each do |extract| %>
  <div>
    <!-- // Here Extract - needs Cloudinary tag// -->
    <% if extract.music.attached? %>
      <%#= cl_video_tag("#{extract.music.key}") %>
      <figure>
      <figcaption>Listen to
        <%= extract.title %>
        <%= extract.composer %>
        <%= extract.musician %>
        <%= extract.description %>:</figcaption>
      <audio
          controls
          src="<%= cloudinary_url(extract.music.key, :resource_type=>"video") %>">
              Your browser does not support the
              <code>audio</code> element.
      </audio>
      </figure>
    <% end %>
  </div>
<% end %>

 <% @videos.each do |video| %>
 <div>
    <!-- // Here Videos - Ttile can be removed // -->
    <%= video.title %>
    <iframe title="vimeo-player" src="<%= video.link %>" width="640" height="400" frameborder="0" allowfullscreen></iframe>
  </div>
<% end %>
