<div class="banner">
  <img src="http://placehold.it/1000x200" alt="<%= t('.gallery') %>">
  <h1><%= t('.gallery') %></h1>
</div>

 <!-- // START - Pictures // -->
 <% @pictures.each do |picture| %>
 <div>
    <!-- // Here Picture - needs Cloudinary tag// -->
    <% if picture.picture.attached? %>
      <%= cl_image_tag("#{picture(picture)}", class:"") %>
    <% else %>
      <%= image_tag("#{picture(picture)}", class:"") %>
    <% end %>
    <!-- // -->
    <%= picture.title %>
    <%= picture.credits %>
  </div>
<% end %>
